* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* ANIMATIONS */
@keyframes christmas_lighting_an {
  20% {
    color: red;
  }
  40% {
    color: greenyellow;
  }
  60% {
    color: gold;
  }
  80% {
    color: silver;
  }
  100% {
    color: blue;
  }
}

body {
  background-image: url("./christmas\ img\ 2.jpg");
}

#title {
  color: white;
  font-size: 4.7rem;
  text-align: center;
  margin-top: 20rem;
  text-shadow: 3px 3px 2rem green;
  /* ANIMATION */
  animation-name: christmas_lighting_an;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.3s;
  transition: font-size 1s;
}

.countdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.countdown-container > p {
  color: white;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-size: 2.6rem;
  transition: font-size 1s;
}

@media screen and (max-width: 900px) {
  #title {
    font-size: 3rem;
  }
  .countdown-container > p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .countdown-container > p {
    font-size: 1.3rem;
  }
}
